@import 'common.styl';

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
  width: 1.3em;
  margin-right: 0.4em;
  margin-bottom: -0.12em;
}

.list-item {
  margin: 0 0.5em;
}

/* button press */
a:hover, a:active, a:focus {
  outline: medium none !important;
}

/* pagination */
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination li.active {
  background-color: black;
}

.pagination li:hover a {
  color: grey;
}


/* top li border */
.bb {
  border-top: solid 1px black;
}
.w-100 > .bb ~ .bb {
  border-top: none;
}

.header-wrap {
  padding-bottom: 40px;
}

/*banner*/
.banner {
  display: inline-block;
  margin: 0;
}

/*volume slider*/
.volume-slider {
  display: inline-block;
  padding: 0.9em 0 0 0.9em;
  width: 150px;
  float: right;
}

.rc-slider-handle {
  border: solid 2px black;
}

.rc-slider-handle:hover {
  border: solid 2px black;
  background-color: #e8fdf5;
}

.rc-slider-track {
  background-color: black;
}

@media (max-width: 650px) {

  .header-wrap {
    padding-bottom: 10px;
  }

  .banner {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .volume-slider {
    float: none;
    display: block;
    padding: 0;
    margin: 2em auto;
    width: 220px;
  }
}

@media (max-width: 650px) {
  .banner {
    margin-top: 20px;
  }
}

.bg-light-green {
  background-color: #B7EBD8;
}